.form-item-warp {
  padding-bottom: 8px;
}
.form-item-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-item-label-colon {
  margin: 0px 5px;
}

.form-item-input {
  flex: 1;
}
.form-item-input-space {
  text-align: right;
}
.form-item-input-vertical {
  text-align: left;
}
.form-item-input-horizontal {
  text-align: left;
}
.form-item-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.form-item-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-item-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-item-label-required {
  margin-right: 5px;
  color: red;
}

.form-item-error-color {
  color: red;
}

.form-item-error {
  font-size: 30px;
}

.form-item-error-left {
  text-align: left;
}

.form-item-error-right {
  text-align: right;
}
